@using PMSWeb.ViewModels.JobOrderVM
@model IEnumerable<JobOrderHistoryViewModel>

@{
    ViewBag.Title = "Jobs History";
}

<h2>Jobs History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Completed By</th>
            <th>Last Done Date</th>
            <th>Type</th>
            <th>Responsible Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.JobName</td>
                <td>@job.CompletedBy</td>
                <td>@job.LastDoneDate</td>
                <td>@job.Type</td>
                <td>@job.ResponsiblePosition</td>
                <td>
                    <a asp-action="ShowHistory" asp-route-id="@job.JobId" class="btn btn-primary btn-sm">Show Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <h3 style="color: springgreen;">Currently, There Are No Jobs to Show Here!</h3>
}


<style>
    .table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 8px 12px;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f4f4f4;
        font-weight: bold;
        text-align: left;
    }
</style>

