@using PMSWeb.ViewModels.SparepartVM
@model SparepartDetailsViewModel

@{
    ViewData["Title"] = "Spare Part Details";
}


<div style="display: flex; gap: 2em;">
    <div>
        <h1>Spare Part Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@Model.SparepartId</dd>

            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Units</dt>
            <dd class="col-sm-10">@Model.Units</dd>

            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@Model.Description</dd>

            <dt class="col-sm-2">Equipment</dt>
            <dd class="col-sm-10">@Model.Equipment</dd>

            <dt class="col-sm-2">Creator</dt>
            <dd class="col-sm-10">@Model.CreatorName</dd>

            <dt class="col-sm-2">Created On</dt>
            <dd class="col-sm-10">@Model.CreatedOn</dd>

            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@Model.Price</dd>

            <dt class="col-sm-2">Left In Stock</dt>
            <dd class="col-sm-10">@Model.ROB</dd>
        </dl>
    </div>
    <div>
        <h1 class="col-sm-2" style="margin: 0 auto;">Picture</h1>
        <hr />
        <p class="col-sm-10"><img src="@Model.ImageURL" alt="No Image Available" /></p>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SparepartId" class="btn btn-warning">Edit</a>
    <a asp-action="Select" class="btn btn-secondary">Back</a>
</div>