@using PMSWeb.ViewModels.Consumable
@model ConsumableDeleteViewModel

@{
    ViewData["Title"] = "Delete Consumable";
}

<h1>Delete Consumable</h1>

<h4>Are you sure you want to delete this consumable?</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ConsumableId</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Creator ID</dt>
        <dd class="col-sm-10">@Model.CreatorId</dd>

        <dt class="col-sm-2">Creator Name</dt>
        <dd class="col-sm-10">@Model.CreatorName</dd>

        <dt class="col-sm-2">Created On</dt>
        <dd class="col-sm-10">@Model.CreatedOn</dd>

        <dt class="col-sm-2">Last Edited On</dt>
        <dd class="col-sm-10">@Model.EditedOn</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ConsumableId"/>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Select" class="btn btn-secondary">Cancel</a>
    </div>
</form>
