@using PMSWeb.ViewModels.SupplierVM
@model SupplierCreateViewModel

@{
    ViewData["Title"] = "Create Supplier";
}

<h2>Create New Supplier</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CityId" class="control-label">Please Select City</label>
        <select asp-for="CityId" class="form-control" asp-items="@(new SelectList(Model.Cities,"Id", "Name"))"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    @if (Model.Cities.Count() == 0)
    {
        <h5 style="color:lightcoral;">No Cities available.</h5>
        <h5 style="color:lightcoral;">Please create Cities.</h5>
    }

    <div class="form-group">
        <label asp-for="CountryId" class="control-label">Please Select Country</label>
        <select asp-for="CountryId" class="form-control" asp-items="@(new SelectList(Model.Countries,"Id", "Name"))"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    @if (Model.Countries.Count() == 0)
    {
        <h5 style="color:lightcoral;">No Countries available.</h5>
        <h5 style="color:lightcoral;">Please create Countries.</h5>
    }

    <div style="display: flex; gap: 2em; margin-top: 2em; margin-bottom: 2em;">
        <!-- SparepartsSupplier (Checkbox List) -->
        <div class="form-group">
            <label class="control-label">Spare Parts</label>
            @if (Model.Spareparts.Count() == 0)
            {
                <h5 style="color:lightcoral;">No spareparts available.</h5>
                <h5 style="color:lightcoral;">Please create spareparts.</h5>
            }
            <div>
                @foreach (var part in Model.Spareparts)
                {
                    <div class="form-check">
                        <input type="checkbox" name="Spareparts" value="@part.Id" class="form-check-input" />
                        <label class="form-check-label">@part.Name</label>
                    </div>
                }
            </div>
        </div>

        <!-- ConsumablesSupplier(Checkbox List) -->
        <div class="form-group">
            <label class="control-label">Consumables</label>
            @if (Model.Consumables.Count() == 0)
            {
                <h5 style="color:lightcoral;">No consumables available.</h5>
                <h5 style="color:lightcoral;">Please create consumables.</h5>
            }
            <div>
                @foreach (var consumable in Model.Consumables)
                {
                    <div class="form-check">
                        <input type="checkbox" name="Consumables" value="@consumable.Id" class="form-check-input" />
                        <label class="form-check-label">@consumable.Name</label>
                    </div>
                }
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Supplier</button>
    <a asp-action="Select" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
